
<div class="ui-number-btn cbox">
{{#each type22}}
        {{text}}
        {{params}}
{{/each}}
    <div class="cur" data-role="add">1</div>
    <div class="cur">2</div>
    <div class="cur">3</div>
</div>


