<main role="main" class="action-list wryh">

    <header class="page-header wryh">
        外拍活动
        <div class="select-drop-trigger" data-role="select-more">
            <i class="icon icon-pub-50x50 more-select-icon"></i>
        </div>
    </header>
    <!-- drop module -->

    <!-- drop module end-->
    <div class="content-body" data-role="content-body">


22
<div  data-role="test"></div>

        <div class="action-list-condition  fn-hide"  data-role="condition-con">
            <div class="price-condition condition fn-hide" data-con data-role="price-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>
                <div class="child" data-type="budget_0-100" data-carry="budget_0-100"><p class="child-child">0-100元</p>
                </div>
                <div class="child" data-carry="budget_100-200"><p class="child-child">100-200元</p>
                </div>
                <div class="child" data-carry="budget_200-500"><p class="child-child">200-500元</p>
                </div>
                <div class="child" data-carry="budget_500-1000"><p class="child-child">500-1000元</p>
                </div>
            </div>
            <div class="day-condition condition fn-hide" data-con data-role="time-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>
                <div class="child" data-carry="today"><p class="child-child">今天</p>
                </div>
                <div class="child" data-carry="weekend"><p class="child-child">周末</p>
                </div>
                <div class="child" data-carry="history"><p class="child-child">活动回顾</p>
                </div>
            </div>
            <div class="history-condition condition fn-hide" data-con data-role="start-con">
                <div class="child cur" data-carry=""><p class="child-child">全部</p>
                </div>
                <div class="child" data-carry="start_by_net_friends"><p class="child-child">网友</p>
                </div>
                <div class="child" data-carry="start_by_authority"><p class="child-child">官方</p>
                </div>
            </div>
            <div class="fade" data-role="fade">1</div>
        </div>

        <div class="action-list-content" data-role="action-list-content">
            <div class="wrap-box">
                <div class="pull_down_container" data-role="pull_down_container"></div>
                <div class="action-child-con" data-role="action-child-con">

                </div>
            </div>
        </div>

    </div>

</main>