
.p1th{
    height: 2000px
}

.w1000{
    width: 1100px;
    margin: 0 auto;
}

.hide{
    display: none;
}

ul.tab-ul{overflow:hidden;border:1px solid #b7f6ff;background:#eefcfe;}
ul.tab-ul li.tab-li{float:left;width:166px;line-height:50px;text-align:center;border-left:1px solid #b7f6ff;}
ul.tab-ul li.active{background:#67c6ea;}
ul.tab-ul li.tab-first{margin-left:-1px;}
ul.tab-ul li.tab-last{width:168px;}
ul.tab-ul li.tab-li a.li-item{display:inline-block;width:166px;font-size:16px;color:#686868;text-decoration:none;}
ul.tab-ul li.active a.li-item{color:#fff;}
ul.tab-ul li.tab-li ul.tab-dropdown-list{position:absolute;top:52px;left:-9999px;width:166px;margin:0;border:1px solid #b7f6ff;background:#fff;z-index:30}
ul.tab-ul li.tab-last ul.tab-dropdown-list{width:168px;}
ul.tab-ul li.tab-li ul.tab-dropdown-list li{height:40px;line-height:40px;text-align:left;}
ul.tab-ul li.tab-li ul.tab-dropdown-list li:hover{background:#eefcfe;}
ul.tab-ul li.tab-li ul.tab-dropdown-list li a{display:inline-block;width:166px;color:#686868;text-decoration:none;}
ul.tab-ul li.tab-li ul.db-ul li a{padding: 0 0 0 42px;}
ul.tab-ul li.tab-li ul.sc-ul li a{padding: 0 0 0 24px;}
ul.tab-ul li.tab-li ul.app-ul li a{padding: 0 0 0 34px;}
ul.tab-ul li.tab-li ul.ns-ul li a{padding: 0 0 0 26px;}
ul.tab-ul li.tab-li ul.com-ul li a{padding: 0 0 0 50px;}
ul.tab-ul li.tab-li ul.third-ul li a{padding: 0 0 0 42px;}
ul.tab-ul li.tab-li:hover ul.tab-dropdown-list{left:auto;}
.tab-fixed{position:fixed;top:0;z-index:1000;}



.service-item .inner-item {height:300px;padding-top:10px;border:1px solid #b7f6ff;}
.service-item .borderT_No {border-top:none;}
.service-item .inner-item .inner-left{float:left;width:410px;text-align:center;}
.service-item .inner-item .inner-left .left-title{margin-bottom:5px;font-size:16px;color:#ffaf3f;}
.service-item .inner-item .inner-right{float:left;padding-left:120px;width:550px;}
.service-item .inner-item .inner-right .right-title{margin:5px 0;font-size:16px;}
.service-item .inner-item .inner-right ul{padding-left:20px;}
.service-item .inner-item .inner-right ul li{line-height:25px;list-style-type:disc;}
.service-item .inner-item a.more-doc{float:right;margin-right:20px;}