/* 活动页字体颜�? */
.c_green, .main_act_l .act_list_l h4, .act_list_l li a span, .main_act_s .act_list_l h4, .hdsc_box_ll .pic165 .text a, .hdsc_box_ll .more a, .friend_left .friend_feed_title a, .friend_left .friend_feed_title a:hover, .friend_left .friend_feed_title a:visited, .friend_left .cont_box a, .friend_left .cont_box a:hover, .friend_left .cont_box a:visited, .qhcs_box, .w768 .fb_but span a, .act_date li .star_trip .borderRight, .hd_fbinfo h4 a{ color:#737373;}

.main_content  .toggles .toggle li a.currenNow,.main_content .toggles .toggle li a:hover,.main_content .toggles .toggle li a.currenNow:hover, .pic145 h3 a:link, .pic145 h3 a:hover, .listtab1_2 .toggle li a.currenNow,.listtab1_2 .toggles .toggle li a:hover,.listtab1_2 .toggles .toggle li a.currenNow:hover, .listtab1_2 .toggle li a.currenNow, .listtab1_2 .toggles .toggle li a:hover, .listtab1_2 .toggles .toggle li a.currenNow:hover{ color:#737373 !important;  }

.act_list_l li.onlist ,.main_act_l .act_date li.on a, .main_act_s .act_date li.on a, .main_act_l .act_list_l li.onlist a, .main_act_s .act_list_l li.onlist a, #menus .click, .bmhymens .click, .lcon_box .sh_btn, .hd_con_trips{ background:#737373}
h3.title { background: url("http://photo.poco.cn/images_v2/photo_23.gif") no-repeat scroll 0 1px transparent; color: #737373; clear: both;  font-size: 14px; line-height: 18px; margin-bottom: 5px; padding-left: 20px;overflow: visible;}
.act_list_l li a, .act_list_l li a span{ color:#737373}
.act_list_l h4 a{color:#000 !important;}

.page a:hover,
.page .click{  border:1px solid #737373;}
.page .click{color:#666666 !important;}
.page a:hover{color:#fff !important;}


.hdly_box .cmt_shortcut, #comment .cmt_shortcut a { color:#737373; }

.hdsc_box_ll .fb_btn, .shlb_ss .lb_btn {background: #737373; border: none; color: #fff; text-align: center;
}

.hdsc_box_ll .input211, .hdsc_box_ll .input90, .hdsc_box_ll .input211, .hdsc_box_ll .input150, .hdsc_box_ll .select135,.hdsc_box_ll .text32, .input180, .input124, .input162, .input77, .hdsc_box_ll .input_text_351{ border:1px solid #737373;  }
.main_content_slist .title span a{ color:#737373;}
.location_index .more_link a{color:#737373 !important;}


#footer .clearfix{ overflow:visible !important;}

.main_content_slist .list_choose .click{ background-color:#737373 }
.ul_768_pic145_second .pic145 h3 .tit_hdico a { color: #FFFFFF !important;}